.wrapper__top {
  background-color: var(--gray-200-color);
  background-image: url("../../images/backround-header-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__homepage {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5em;
  color: var(--gray-800-color);
  margin-bottom: 40px;
  margin-top: 80px;
}
.hero__homepage span {
  color: var(--gray-600-color);
}
.hero__title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 1.3em;
  letter-spacing: 0.1rem;
  color: var(--gray-900-color);
  margin-bottom: 24px;
}
.hero__description {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5em;
  color: var(--gray-700-color);
  width: 600px;
  margin-bottom: 179px;
}
/* HEADER END */

/* MAIN START */

.contactus {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.contactus__wrapper {
  display: flex;
  flex-direction: column;
}
.contactus__title {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 2.4rem;
}
.contactus__description {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5em;
  text-align: center;
  color: var(--gray-700-color);
  margin-bottom: 6rem;
}
.contactus__bottom_wrapper {
  display: flex;
  justify-content: space-between;
}
.contactus__img {
}
.contactus__form {
}
.footer__form {
}
.contactus__input_wrapper {
  display: flex;
  gap: 3rem;
}
.contactus__input_wrap {
  width: 285px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__inputs_1 {
}
.contactus__input {
}
.footer__label {
  gap: 0.8rem;
}
.contactus__radio {
  display: flex;
}
.radio {
  font-size: 1.6rem;
  line-height: 1.6em;
  color: var(--gray-800-color);
}
.footer__checkbox {
}
.checkbox__rule {
}
.footer__inputs_btn {
}

/* MAIN END */
